@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;
  --font-instrument: 'Instrument Sans', sans-serif;
  --font-plus-jakarta: 'Plus Jakarta Sans', sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-manrope: "Manrope", sans-serif;


  --breakpoint-1360: 1360px;

  --color-boyred: #6A6352;
  --color-vanilla: #D5CCAB;
  --color-grullo: #A3A289;
  --color-green: #878568;
  --color-olive: #505143;

  --color-chinese: #0E141C;
  --color-policeblue: #314B6E;
  --color-rackley: #607EA2;
  --color-weldonblue: #8197AC;
  --color-silverpink: #BDB3A3;
}